:root{
	--p-spacing: 1em;
}

#grad {

	background-image: linear-gradient(red,yellow);
}

body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


h1, h2, h3, p {
	border: 1px dashed rgba(10,10,10,0.2);
	margin: 50px;
	text-align: center;
	margin-top:var(--p-spacing);
	margin-bottom:var(--p-spacing);
}
