:root{
	--p-spacing: 1em;
}

body {
    background-color: white;
	background-image: url("images/background.jpg");
}


h1, h2, h3, p {
	border: 1px dashed rgba(10,10,10,0.2);
	margin: 50px;
	text-align: center;
	margin-top:var(--p-spacing);
	margin-bottom:var(--p-spacing);
}
