:root{
	--v-spacing: 1em;
	/*--h-margins: 350px;*/
	--h-margins: 20%;
}

html, body {
	height: 100%; 
}

body {
	background-color: #4E9EDE; 
	background: linear-gradient(#4A97D6,#CEDAE2); /*Blue*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: var(--v-spacing);
	margin-bottom: var(--v-spacing);
	margin-right: var(--h-margins);
	margin-left: var(--h-margins);
	font-size: 130%;
}


/* Headers */
h1, h2, h3 { /*All headers*/
	font-weight: bold;
}

h1 { 
	text-align: center;
	font-size: 200%;
	margin-top: var(--v-spacing)
	margin-bottom: var(--v-spacing)
}

h2 {
	text-align: center;
	font-size: 150%;
	margin-top: calc(var(--v-spacing) * 2.0);
	margin-bottom: var(--v-spacing);
}

h3 {
	margin-top: calc(var(--v-spacing) * 2.0);
	margin-bottom: var(--v-spacing);
}


/* Paragraphs */
p, p.pitch {/* Alla paragraphs*/
	margin-bottom: var(--v-spacing);
}

p.pitch {
	font-style: italic;
}


/* Divisions */
div.bar{
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	margin-bottom: var(--v-spacing);
	margin-top: var(--v-spacing);
}

div.button{
	position: relative;
	text-align: center;
	color: white;
}

div.center{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.box{
	display: flex;
	align-items: center;	
}



/* References */
a, a.site, a.current{ /*All references*/
	font-size: 110%;
    text-align: center;
	text-decoration: none;
    font-weight: bold;
	white-space: nowrap;
	margin: 3px;
    width: 110%;
    height: 110%;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
}

a.site {
    background: white;
    color: black;
}

a.current{
    background: black;
    color: white;
}


/* Misc */
em {
	font-weight: bold;
	font-size: 101%
}
